/* 
.navbar {
    background-color: #f8f9fa;
}


.nav-link {
    font-weight: 500;
    transition: color 0.3s;
    
}


.nav-link:hover {
    color: rgb(88, 143, 5); 
}



.btn-outline-primary:hover {
    background-color: #f6f7f9;
    color: rgb(58, 67, 241);
}

.container {
    max-width: 1200px; 
}

.shadow-sm {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important; 
} */
